<header id="header"> <span class="logo"> <img class="img-responsive" src="content/images/rollsroyce-logo.png" alt="rollsroyce"> </span> </header>
<div class="quiz-app"><div class="quiz-app-logo">
        <img class="img-responsive" src="content/images/knowledge-quiz-logo.png" alt="knowledge-app">
    </div>
</div>
<div class="start-page">
    <section id="login-screen">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                       
                        
                            <div class="form-group" >
                              
                             <a href="/#/login"><button id="forgotFormSubmitBtn" type="submit" class="btn btn_default" ng-class="{btn_default:login.$invalid}">Log in</button></a>
                            </div>
                            <div class="form-group" >
                              <a href="/#/register">
                              <button id="forgotFormSubmitBtn" type="submit" class="btn btn_default" ng-class="{btn_default:login.$invalid}">Register</button></a>   
                            </div>
                                                
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>